.main-inicio {
    display: flex;
    flex-direction: column;
    margin-top: 8vh;
    margin-bottom:6vh;
    .texto-canciones {
        display: flex;
        flex-direction: column;
        padding: 3%;
        margin: 0% 2%;
    }
    .caja-canciones {
        padding: 30px;    
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        iframe {
            width: 100%;
            height: 80px;
            border-radius: 10px;
            box-shadow: -1px -1px 7px 6px rgba(0,0,0,0.16);
            -webkit-box-shadow: -1px -1px 7px 6px rgba(0,0,0,0.16);
            -moz-box-shadow: -1px -1px 7px 6px rgba(0,0,0,0.16);
        }   
    }
}





