
    /*############ DESKTOP 993 / 1245 ###############*/

@media (min-width: 993px) and (max-width: 1245px) {
    .navegador {
        ul {
            li {
                margin: 3%;   
            }
        }
    }  
     .main-nosotros {
        h2 {
            text-align: left;
            font-size: 80px;
            font-weight: 400;
        }
        .texto-nosotros {
            margin-top: 30px;
            font-size: 25px;
           letter-spacing:1.3px; 
           line-height: 40px;
       }    
    }
        
    
        
    .main-servicios {
         grid-template-columns: 1fr 1fr;
         grid-template-rows: auto auto 30vh auto auto;
         margin: 5% 5%;
         .titulo-promocion {
            font-size:65px;
            line-height: 90px;      
        }
        .texto-promocion {
            font-size: 17px;
            letter-spacing:1px; 
            line-height: 26px;       
        }
        .enviar-dos {
            grid-area: enviar-dos;
            background-color: #633ea3;
            display: flex;
            flex-wrap: nowrap;
            justify-content:center;
            align-items: center;
            a {
                padding: 3%;
                color: white;
                font-size: 1.3rem;
                background-color: orangered;
                border-radius: 5px;
                transition: all 0.5s ease;
                &:hover {
                    padding: 4%;
                    font-size: 1.4rem;
                    color: white;
                    background-color: #673ab7;
                    box-shadow: 1px 4px 39px -4px rgba(0,0,0,0.67);
                    -webkit-box-shadow: 1px 4px 39px -4px rgba(0,0,0,0.67);
                    -moz-box-shadow: 1px 4px 39px -4px rgba(0,0,0,0.67);  
                } 
            }
        }
        .titulo-curador {
            font-size: 60px; 
            line-height: 90px; 
        }
        .texto-curador {       
            font-size: 17px;        
            letter-spacing:1px; 
            line-height: 28px;    
        }        
    }    
}    
    
    
    
    
    
    
    
    
    
    
    /*############# TABLET 768 / 1023  ##################*/
    
@media (min-width: 768px) and (max-width: 992px) {
    body {           
        grid-template-areas:
        "navegador"
        "enviar" 
        "header"
        "main" 
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 15vh 15vh 70vh auto 25vh; 
    }
    
    .enviar {
        justify-content: center;
        padding-left: 0;
        a {
            padding: 3%;
            font-size: 1.2rem;
            &:hover {
                padding: 3.5%;
                font-size: 1.3rem;          
            }       
        }
    }
    
    .main-inicio {
        .caja-canciones {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(8, 1fr);       
        }
        .texto-canciones {
            font-size: 50px;  
        }       
    }
    
    .main-nosotros {
        h2 {
            text-align: left;
            font-size: 60px;
            font-weight: 400;
        }
        .texto-nosotros {
            margin-top: 30px;
            font-size: 20px;
            letter-spacing:1.3px; 
            line-height: 30px;
        }    
    }
        
    .main-servicios {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto 25vh auto auto;
        margin: 5% 5%;
        .titulo-promocion {
            font-size:55px;
            line-height: 70px;      
        }
        .texto-promocion {
            font-size: 14px;
            letter-spacing:1px; 
            line-height: 20px;       
        }
        .enviar-dos {
            grid-area: enviar-dos;
             background-color: #633ea3;
             display: flex;
            flex-wrap: nowrap;
            justify-content:center;
            align-items: center;
            a {
                padding: 3%;
                color: white;
                font-size: 1.3rem;
                &:hover {
                    padding: 4%;
                    font-size: 1.4rem; 
                }
            }
        }
        .titulo-curador {
            font-size: 50px;
            line-height: 70px;  
        }
        
        .texto-curador {       
            font-size: 14px;        
            letter-spacing:1px; 
            line-height: 21px;    
        }        
    }
    .main-contacto {
        h2 {
            font-size: 30px;
        }   
    }
    .indice-playlist {
        ul {
            grid-template-columns: repeat(3, 23%);
            li { 
                display: flex;
                justify-content: space-evenly;
                margin-top: 70px;
                margin-bottom: 0px;
                a {
                    color: white;
                    font-size: 1.1rem;
                    font-weight: 400;
                    border-radius: 30px;
                    padding: 3% 6%; 
                    border-style: solid;
                    border-width: 1Px;
                    transition: all 0.5s ease;
                    &:hover {
                        background-color: rgb(23, 139, 23);
                        border-color: white; 
                        text-shadow: 3px 3px 3px black;
                        padding:4% 7%;   
                    }          
                }
            }
        }
    }
}
    
    
    
    
    
    
    
    
    /*####################### TABLET 481 / 767 #######################*/
    
@media (min-width: 481px) and (max-width: 767px) {
    body {    
        grid-template-areas:
        "navegador enviar"
        "header header" 
        "main main" 
        "footer footer";
        grid-template-columns: 1fr 2fr;
        grid-template-rows:  30vh 70vh  auto 25vh; 
    }
    
    .navegador {
        ul {
            flex-direction: column;
            flex-wrap: nowrap;
            li {
                margin: 2%;
                a {
                    font-size: 1rem;
                    &:hover { 
                        padding: 5px;   
                    }          
                }  
            }
        }    
    }
    
    h1 {
        font-size:40px;     
    }
    
    h2 {
        font-size: 25px;       
    }
    
    .main-inicio {
        .caja-canciones {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(11, 1fr);
            iframe {
                width: 100%;
                height: 80px;
            }
        }
        .texto-canciones {
            font-size: 38px;
            margin-left: 20px;
        }    
    }
    
    .main-nosotros {
        h2 {
            text-align: left;
            font-size: 40px;
            font-weight: 400;
        }
        .texto-nosotros {
            margin-top: 30px;
            font-size: 17px;
            letter-spacing:1.3px; 
            line-height: 25px;
            p {
                margin-bottom: 10px;
            }
        }    
    }
    .main-servicios {
         grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto 25vh auto auto;
         margin: 5% 5%;
         .titulo-promocion {
            font-size:35px;
            line-height: 50px;      
        }
        .texto-promocion {
            text-align: left;
            font-size: 12px;
            letter-spacing:1px; 
            line-height: 13px;       
        }
        .enviar-dos {
            grid-area: enviar-dos;
            background-color: #633ea3;
            display: flex;
            flex-wrap: nowrap;
            justify-content:center;
            align-items: center;
            a {
                padding: 3%;
                color: white;
                font-size: 1.3rem;
                &:hover {
                    padding: 4%;
                    font-size: 1.4rem; 
                }
            
            }
        }
        .titulo-curador {
            font-size: 35px;
            line-height: 50px;   
        }
        .texto-curador { 
            text-align: right;      
            font-size: 12px;        
            letter-spacing:1px; 
            line-height: 13px;
        }        
    }
    .main-playlist {
        background-size: 100%;
        h2 {
            font-size: 25Px;   
        }
        .indice-playlist {
            ul {
                display: grid; 
                grid-template-columns: repeat(2, 45%);
                grid-column-gap: 20px;
                grid-row-gap: 20px;
                li { 
                    display: flex;
                    justify-content: space-evenly;
                    margin-top: 20px;
                    margin-bottom: 0px;
                    a {   
                        font-size: 1.1rem;             
                    } 
                }
            }
        }
        .caja-playlist {
            h3 {
                font-size: 25px;
            }
        }
    }    
     
    .main-contacto {
        h2 {
            font-size: 25px;
        }
    }  
           
    footer {
        .volver-arriba {
            a {
                font-size: 13px;
            }
        }       
        .navegador-footer {
            span {
                a {
                    font-size: 10px;
                    padding-left: 10px;
                    padding-right: 10px;
                    &:hover {
                        padding: 11px;
                    }
                }   
            }
        }
    }
}
    
    
    
    
    
    
    
    
    
    /*############## SMARTPHONE 480 ####################*/
@media (max-width: 480px) {
    body {    
        grid-template-areas:
        "navegador enviar"
        "header header" 
        "main main" 
        "footer footer";
        grid-template-columns: 1fr 2fr;
        grid-template-rows:  25vh 60vh auto 25vh; 
    }

    .enviar {
        padding-right:4%;
        a {
            padding: 4%;
            font-size: 1rem;
            &:hover {
                padding: 5%;
                font-size: 1.1rem;  
            }
             
        }
    
    }

   
   
    h1 {
        font-size:35px;     
    }

    h2 {
        font-size: 20px;       
    }

    .logo-bekypequi {
        width: 100PX;
        height: 100PX;
        &:hover {
            width: 105px;
            height: 105px;
        }             
    }

    .subtitulo {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .main-inicio {
        .caja-canciones {
            padding: 30px;       
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(11, 1fr);
            iframe {
                width: 100%;
                height: 80px;
            }       
        }
        .texto-canciones {
            font-size: 25px;
            margin-left: 20px;
        }   
    }

    .main-nosotros {
        margin: 5% 10%;
        h2{
            text-align: left;
            font-size: 30px;
            font-weight: 400;    
        }
        .texto-nosotros {
            margin-top: 30px;
            font-size: 15px;
            letter-spacing:1.3px; 
            line-height: 25px;
            p {
                margin-bottom: 10px;
            }    
    }
    
    }
    .main-servicios {
        grid-template-areas: 
        "titulo-promocion titulo-promocion"
        "texto-promocion texto-promocion"
        "imagen-promocion imagen-promocion"
        "enviar-dos enviar-dos"
        "titulo-curador titulo-curador"
        "texto-curador texto-curador"
        "imagen-curador imagen-curador";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto 20vh auto auto;
        margin: 5% 5%;
        .titulo-promocion {
            font-size:35px;
            line-height: 50px;
            flex-direction: row;
            justify-content: space-evenly;
            padding-left: 20px;
            padding-right: 20px;      
        }
        .texto-promocion {
            text-align: justify;
            font-size: 12px;
            letter-spacing:1px; 
            line-height: 13px;
            padding: 5px 20px;       
        }
        .imagen-promocion {
            grid-area: imagen-promocion;
            display: none;
        }
        .enviar-dos {
            grid-area: enviar-dos;
            background-color: #633ea3;
            display: flex;
            flex-wrap: nowrap;
            justify-content:center;
            align-items: center;
            a {
                padding: 3%;
                color: white;
                font-size: 1rem;
                &:hover {
                    padding: 4%;
                    font-size: 1.2rem; 
                }
            }
        }
        .titulo-curador {
            padding-left: 20px;
            padding-right: 20px; 
            font-size: 35px;
            line-height: 50px;
                
        }
        .texto-curador { 
            text-align: justify;      
            font-size: 12px;        
            letter-spacing:1px; 
            line-height: 13px;
            padding: 5px 20px;        
        }
        .imagen-curador {
            grid-area: imagen-curador;
            display: none;
        }        
    }
    .main-playlist {
        background-image: linear-gradient(#633ea3, #633ea3);
        background-position: center;
        background-repeat: no-repeat; 
        background-size: 80%;
        background-attachment: fixed;
        margin-bottom: 7%;
        h2{
            font-size: 25Px;    
        }
        .indice-playlist {
            ul {
                display: grid; 
                grid-template-columns: repeat(1, 100%);
                grid-template-rows: repeat(13, 1fr);
                grid-column-gap: 30px;
                li {
                    margin-top: 20px;
                    margin-bottom: 0px;
                    a {
                        font-size: 1rem;            
                    }
                }
            }
        }
        .caja-playlist {
            height: 100vh;
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 5%;
            margin-bottom: 3%;
            h3 {
                margin-top: 3%;
                font-size: 17px;
            }            
        }
    }

    .main-contacto {
        h2 {
            font-size: 25Px;
        }
    }

    footer { 
        background-image: linear-gradient(to top, #633ea3, #633ea3 );       
        padding-top: 10px;
        padding-bottom: 10px;
        grid-area: footer;
        display: grid;
        grid-template-areas: 
        "volver"
        "menu"
        "redes";
        grid-template-columns: 100%;
        grid-template-rows: 10% 80% 10%;
        grid-row-gap: 20px;
        .volver-arriba {
            display: flex;
            justify-content: center;
            grid-area: volver;
            a {
                font-size: 13px;       
            }
        }
        .redes-footer {
            grid-area: redes;
            display: flex;
            justify-content:center;
            margin-top: 20px;
            a {
                margin: 10px;
            }
        }
        
        .navegador-footer {
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            grid-area: menu;
            span {
                a {
                    color: white;
                    font-weight: 100;
                    font-size: 10px;
                    padding-left: 10px;
                    padding-right: 10px;
                    border-left: 0px solid white;
                    &:hover {
                        color: orangered;
                    }
                }      
            }        
        }
    
    }    
}

